input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

body{
    margin:0
}

.navbar-nav > li{
    margin-left:10%;
    margin-right:10%;
  }

.navbar{
    background-color:#090038;

    padding-top: 50px
}

.brand{
    color:purple
}

.about-text{
    margin-left:25%;
    margin-top:3%;
    max-width: 50%;

}

.about-text > p:last-child{
    color: purple;
    font-size: 150%;
    font-weight: bold;


}

h1{
    margin-top:25px;
}

#homepage-logo{
    margin-left:40%;
}

#mode-btn{
    padding:0.5%;
    margin:0.5%;
    background-color: black;
    color:white;
    border-radius: 30%;
    position: absolute;
}

.opening-selector{
    border-width:1px;
}

.search-filter-option{
    margin: 7px;
    border-width:1px;
    border-radius: 5px;
}

.search-filter-option:focus{
    outline:none;
}

.rating-number{
    max-width: 70px
}

#about-title{
    margin-left: 35%;
    margin-bottom: 0;
    padding:0;
}

.navbar-filter{
    background-color: white;
}

.equiv-sym{
    font-size: 150%;
}

.navbar-toggler{
    border: solid 2px black;
}

.card{
    max-width: 40%;
    margin-left: 7%;
    margin-bottom: 2%;
    border: 1px solid rgba(124, 129, 132, 0.7);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
 .rate-bar{
    padding: 0;
    margin: 0;
    font-size: 67%;
    display:inline-block; 
    height: 30px;
    font-weight: bold;
 }
 .loss-bar{
    color:white;
 }

 .form-area{
    max-width: 35%;
    margin-left: 35%;
 }

 .title{
    margin: 3% 3% 3% 47%;
 }

 .log-out-btn{
    margin-left: 45%;
 }

 .board{
    width: 550%;
    margin-left: 30%;
    margin-top: 7%;
 }



 .pfp{
    max-width: 50px;
    max-height: auto;
    display: inline-block;
    border: 1px solid black;
 }


 .player-card{
    min-width: 100%;
    margin: 12px;

 }

 .player-card > div{
    display: inline;
 }

 .player-name{
    display: inline-block;
 }

 #player2{
    margin-top: 25%;
 }

 .table{
    width: 100%;
    
 }

 #moves{
    margin-left: 32%;
    max-width: 31%;
    margin-top: 5px;
 }



.move-table{
    max-height: 450px;
    overflow: auto;
}

.fake-board{
    width: 95%;
    padding: 0px;
}   

#match-settings-card{
    margin: 8% 8% 0 0;
    min-width: 85%;
    min-height: 90%;
}

.loading-img{
    display: none;
}