<!DOCTYPE html>

<html lang="en">
    <head>
        <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
        <script>var exports = {};</script>
        <link rel="stylesheet" href="\static\css\chessboard-1.0.0.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <script src="http://www.willangles.com/projects/chessboard/js/chess.js"></script>
        <title>{%block title%}{%endblock%}</title>
    </head>
    <body>

        <!-- NAV bar -->
        <nav class="navbar navbar-expand-lg">


                <!--brand-->

                <div class="navbar-brand"> <a class="nav-link brand" href="/">KnightStable</a></div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- About-->
                    <li class="nav-item">
                        <a class="nav-link" href="/">About</a>
                    </li>
                    <!-- Search-->
                    <li class="nav-item">
                        <a href="/search" class="nav-link">Search</a>
                    </li>
                    <!--Opening-->
                    <li class="nav-item">
                        <a class="nav-link" href="/openings">Opening</a>
                    </li>
                    <!-- recommended-->
                    <li class="nav-item">
                        <a class="nav-link" href="/recommended">Recommended</a>
                    </li>
                    <!-- register -->
                    {% if logged == false %}
                    <li>
                        <a class="nav-link" href="/register"> Register</a>
                    </li>
                    <!-- Login -->
                    <li>
                        <a class="nav-link" href="/login"> Login</a>
                    </li>
                    {%else%}
                    <li>
                        <a class="nav-link" href="/logout"> Logout </a>
                    </li>
                    {%endif%}
                    <!-- Dark mode btn-->
                    <li>
                        <button id="mode-btn">Dark Mode</button>
                    </li>

                </ul>
        </nav>
        {% block main%}{%endblock%}

        <script src="/static/main.js"></script>
    </body>
</html>
